<div ng-hide="!httpdone" class="loader"></div>
<div ng-hide="httpdone">
<form class="form-inline">
 <div class="form-group">
     <select class="form-control" ng-model="cohorgroup1">
     <option value="" disabled selected>Choose...</option>
     <option ng-repeat="opt in groupDetail">{{ opt.name }}</option>
     </select>
     </div>
      <div class="form-group">
     <select class="form-control" ng-model="cohorgroup2">
     <option value="" disabled selected>Choose...</option>
     <option ng-repeat="opt in groupDetail">{{ opt.name }}</option>
     </select>
     </div>
     <button ng-click="drawPlot()" class="btn btn-primary" >Confirm</button>

</form>
     <vlc-chart class="vlcchart" ng-hide="!vlcData" chartdata="vlcData"></vol-chart>  
</div>
