<div class="table-responsive ">
 <table class="table table-bordered table-fit" style="font-size:10">
  <thead>
     <tr>
     	<th style="font-size:9" ng-repeat = "x in columns" >{{ x }}</td>
     </tr>
  </thead>
  <tbody>
  	<tr class="tablerow" id="{{ 'row'+$index }}" ng-repeat = "item in tableData track by $index" ng-click="selectRow($event,$index)" ng-style="styleCreator($index,item.CohortGroup)" ng-dblclick="deleteGroup($index)">
  		<td  style ="word-break:break-all;" ng-repeat= "x in columns">{{ item[x] }}</td>
  	</tr>
  </tbody>
</table>
</div>
